<br>
<h1>Stupid Coaching</h1>
<br>
<div class="ask">
  <p><%= @ask %></p>
  <p class="author">-You</p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p class="author">-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
